/.idea/vcs.xml
/.idea/*.xml
/.idea/inspectionProfiles/*.xml
/.idea/*.iml
/AQJD/__pycache__/*.pyc
/AQJD/base/__pycache__/*.pyc
*.pyc
*.toc
*.pyz
*.pkg
/AQJD/build/create_all_test_repot/*.txt
/AQJD/build/create_all_test_repot/*.html
/AQJD/*.spec
/AQJD/build/create_all_test_repot/*.zip
*.bat
*.ps1
/venv/Scripts/activate
/venv/Scripts/*.exe
/venv/*.cfg
*.log
